input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill::first-line {
    box-shadow: 0 0 0 30px var(--ant-color-bg-base) inset !important;
    color: var(--ant-color-text) !important;
    font-family: var(--ant-font-family) !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid var(--ant-color-link);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

.nolabel .ant-form-item-label {
    display: none !important;
}

td.ant-table-cell.nowrap {
    white-space: nowrap;
}

thead>tr>th,
thead>tr>td {
    &::before {
        display: none;
    }
}